<head>
<link href="/assets/common.css" rel="stylesheet">
</head>
<section class="container">

<div id="welcome"></div>
</section>
<%= javascript_pack_tag 'App' -%>
<%= javascript_pack_tag 'Language' -%>

