<head>
<link href="/assets/common.css" rel="stylesheet">
</head>
<body>
<section class="bg-light py-5">
<div class="container">
<h2>言語一覧</h2>
<div id="welcome"></div>
<%= javascript_pack_tag 'App' -%>
<%= javascript_pack_tag 'Language' -%>
</div>
</section>

