<head>
<link href="/assets/common.css" rel="stylesheet">
</head>
<body>

<div id="jumbotron"></div>
<div id="welcome"></div>
<%= javascript_pack_tag 'Jumbotron' -%>
<%= javascript_pack_tag 'App' -%>
<%= javascript_pack_tag 'Language' -%>
