
.modal {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
}
.modal-inner {
  position: absolute;
  top: 8%;
  right: 0;
  left: 0;
  width: 480px;
  padding-bottom: 60px;
  margin: auto;
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
}

.modal-header {
  height: 8px;
  width: 100%;
  margin-bottom: 60px;
  border-radius: 8px 8px 0 0;
  background-image: url("https://s3-ap-northeast-1.amazonaws.com/progate/shared/images/lesson/react/modal_bar.svg");
}

.modal-introduction p {
  color: #5876a3;
  width: 384px;
  line-height: 32px;
  text-align: left;
  margin: 36px auto 40px;
}

.modal-close-btn {
  font-size: 13px;
  color: #8491a5;
  width: 200px;
  padding: 16px 0;
  border: 0;
  background-color: #f0f4f9;
  cursor: pointer;
}

.modal-close-btn:hover {
  color: #8491a5;
  background-color: #ccd9ea;
  transition: .3s ease-in-out;
}

.language {
  display: flex;
  justify-content: center;
  -webkit-flex-wrap: wrap;          /* Safari etc. */
  -ms-flex-wrap    : wrap;          /* IE10        */
  flex-direction: row;
    flex-wrap: wrap;
}

.language-item {
  display: inline-block;
  cursor: pointer;
  width: 240px;
  margin: 15px;
  background: #f9f9f9;
  text-align:center;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
  border-radius: 3px;
}

.language-name {
  margin: 0 auto;
  text-align: center;
  padding: 15px;
  font-weight: bold;
}

.language-image {
  margin: 0 auto;
  height: auto;
  max-width: 200px;
  width: 20vw;
  padding: 10px;
}

.language-introduction{
  margin: 0 auto;
  text-align: center;
  padding: 15px;
  font-size: 13px;
}

.card{
  cursor: pointer;
}

.main{
  position: relative;
  background: #2c3e50;
  height: 50vh;
}

.main__items{
  position: relative;
  top: 40%;
}

.jumbotron{
  position: relative;
  background: #2c3e50;
  height: 50vh;
}

.jumbotron__items{
  position: relative;
  top: 40%;
}

.wave {
  position: absolute;
  height: 70px;
  width: 100%;
  background: #2c3e50;
  bottom: 0;
}

.wave::before, .wave::after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 100% 50%;
}

.wave::before {
  width: 55%;
  height: 109%;
  background-color: #fff;
  right: -1.5%;
  top: 60%;
}
.wave::after {
  width: 55%;
  height: 100%;
  background-color: #2c3e50;
  left: -1.5%;
  top: 40%;
}

footer p {
  margin: 0;
}

.card__block{
width: 100%;
max-width: 15.5rem;
}




.about{
  padding-top:6rem;
}
.flash {
  text-align: center;
}

.icon__colour-green{
  color: #3cb371
}

.icon__colour-blue{
  color: #1e90ff;
}

.icon__colour-gray{
  color: gray;
}

.icon__colour-yellow{
  color: #ffd700;
}


